
{% extends "base.html" %}
{% block content %}

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>


<script src="static/js/get_data.js"></script> 
<script src="static/js/chart.js"></script>

<div class="container">
<h3>Chart</h3>
<form action="" method="POST" name="test">
   {{ form.hidden_tag() }}
    <p>
        Choose region:<br>
        {{ form.region() }}<br>
    </p>
    <p>
        <button class="filter" type="button">Process</button>
    </p>
</form>
</div>
<hr>
<p id="results"></p>

<div id="container" style="height: 300px"></div>


{% endblock %}
